<section class="login w-100">

    <div class="space"></div>

    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
        </g>
        </svg>
    </div>
</section>

<div class="d-flex justify-content-center align-items-center vh-100 w-100">
    <form action="" #form="ngForm" (ngSubmit)="submitForm(form)" class="w-100 d-flex flex-column p-4 rounded m-2 text-center">
        <h2 class="fw-semibold mb-3">Entrar</h2>

        <div class="position-relative mb-3">
            <input type="email"
                    name="email" 
                    ngModel
                    placeholder="Seu e-mail"
                    class="p-2 w-100 rounded border-0 form-control">

            <i class="bi bi-person position-absolute icon-email"></i>
        </div>

        <div class="position-relative mb-4">
            <input [type]="tipoInput" 
                    name="senha"
                    ngModel
                    placeholder="Sua senha" 
                    class="p-2 w-100 rounded border-0 form-control">
            <i (click)="iconEye()" [class.bi-eye]="!aberto" [class.bi-eye-slash]="aberto" class="bi position-absolute icon-senha"></i>
        </div>

        <button class="btn btn-primary fw-semibold">Entrar</button>

        <hr>

        <p>Não possui conta? <span><a href="#" class="text-decoration-none fw-semibold">Criar conta</a></span></p>
    </form>
</div>